/* .item-column {
  border: 1px solid greenyellow;
  border-radius: 10px;
}
.item-column:first-of-type {
  border-right: none;
} */
th:first-child {
  padding-left: 0;
}

#new-item-btn {
  margin-top: 1em;
}

.green-row {
  background-color: hsl(171, 100%, 85%);
}
.red-row {
  background-color: hsl(0, 100%, 90%);
}
